@{
    ViewBag.Title = "Foundation - The Auxilium Way";
}

<h1>@ViewBag.Title.</h1>
<h4>@ViewBag.Message</h4>

<section for="headings">
  <div class="row">
    <div class="small-9 columns">
      <div class="line-heading"></div><h3>Headings</h3>
      <p>
        I've altered the headings just a little. Given them a different font 'Myriad Set Pro Thin'.
        <br>Making them look a little better than what Foundation gives us straight out of the box.
      </p>
    </div>
    <div class="small-3 columns text-right">
      <button for="headings" class="button example">Show code</button>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <div class="copytoclipboard-wrapper">
        <pre id="headings" class="line-numbers hide-code-block">
        <code class="language-html">
                  &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;small-12 columns&quot;&gt;
                      Don't you know how to create a heading tag, shame on you!
                    &lt;/div&gt;
                  &lt;/div&gt;
                </code>
              </pre>
        <button id="but-headings" class="button copytoclipboard hide-code-button">Copy code</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-4 columns">
      <h1>Heading H1</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <h4>Heading H4</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
    <div class="small-4 columns">
      <h2>Heading H2</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <h5>Heading H5</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
    <div class="small-4 columns">
      <h3>Heading H3</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <h6>Heading H6</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>

</section>
<!-- end of section headings -->

<section for="buttons">
  <div class="row">
    <div class="small-9 columns">
      <div class="line-heading"></div><h3>Buttons</h3>
      <p>
        The buttons; primary, success and warning are given the colors of the squares in the Auxilium logo.<br>
        Buttons like alert and secondary have colors based of my own taste.
      </p>
      <p>Each button hover state has been given a darker color by adding a 5% increase of each CMYK value.</p>
    </div>
    <div class="small-3 columns text-right">
      <button for="buttons" class="button example">Show code</button>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <div class="copytoclipboard-wrapper">
        <pre id="buttons" class="line-numbers hide-code-block">
        <code class="language-html">
                  &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;small-12 columns&quot;&gt;
                      &lt;a class=&quot;primary button&quot; href=&quot;#&quot;&gt;Primary Color&lt;/a&gt;
                      &lt;a class=&quot;secondary button&quot; href=&quot;#&quot;&gt;Secondary Color&lt;/a&gt;
                      &lt;a class=&quot;success button&quot; href=&quot;#&quot;&gt;Success Color&lt;/a&gt;
                      &lt;a class=&quot;alert button&quot; href=&quot;#&quot;&gt;Alert Color&lt;/a&gt;
                      &lt;a class=&quot;warning button&quot; href=&quot;#&quot;&gt;Warning Color&lt;/a&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                </code>
              </pre>
        <button id="but-buttons" class="button copytoclipboard hide-code-button">Copy code</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <a class="primary button" href="#">Primary Color</a>
      <a class="secondary button" href="#">Secondary Color</a>
      <a class="success button" href="#">Success Color</a>
      <a class="alert button" href="#">Alert Color</a>
      <a class="warning button" href="#">Warning Color</a>
    </div>
  </div>
</section>
<!-- end of section buttons -->

<section for="inputs">
  <div class="row">
    <div class="small-9 columns">
      <div class="line-heading"></div><h3>An input, dropdown, textarea, checkbox and radiobutton within a form</h3>
      <p>
        Click on the input, dropdown, textarea, checkbox and radiobutton to see the cool effects!<br>
        To achieve this effect you need to do two things; add the class 'aux-form' to the form tag
        and make sure you put the label tag after the input, dropdown, textarea, checkbox or radiobutton element.
      </p>
    </div>
    <div class="small-3 columns text-right">
      <button for="inputs" class="button example">Show code</button>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <div class="copytoclipboard-wrapper">
        <pre id="inputs" class="line-numbers hide-code-block">
        <code class="language-html">
          				&lt;form class=&quot;aux-form&quot;&gt;
          					&lt;div class=&quot;row&quot;&gt;
          						&lt;div class=&quot;small-4 columns end&quot;&gt;
          							&lt;div class=&quot;input-group&quot;&gt;
          								&lt;input type=&quot;text&quot; name=&quot;fullName&quot;&gt;&lt;/input&gt;
          								&lt;label&gt;First Name&lt;/label&gt;
          							&lt;/div&gt;
          						&lt;/div&gt;
          					&lt;/div&gt;
          					&lt;div class=&quot;row&quot;&gt;
          						&lt;div class=&quot;small-12 columns&quot;&gt;
          							&lt;input class=&quot;button&quot; type=&quot;submit&quot; value=&quot;Submit&quot;&gt;&lt;/input&gt;
          						&lt;/div&gt;
          					&lt;/div&gt;
          				&lt;/form&gt;
                </code>
              </pre>
        <button id="but-inputs" class="button copytoclipboard hide-code-button">Copy code</button>
      </div>
    </div>
  </div>

  <div class="small-12 columns">
    <form class="aux-form">
      <div class="row">
        <div class="small-4 columns">
          <div class="input-group">
            <input type="text" name="fullName"></input>
            <label>First Name</label>
          </div>
        </div>
        <div class="small-1 columns">&nbsp;</div>
        <div class="small-4 columns end">
          <div class="input-group">
            <input type="text" name="lastName"></input>
            <label>Last Name</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-4 columns">
          <div class="input-group">
            <input type="email" name="emailAddress"></input>
            <label>Email Address</label>
          </div>
        </div>
        <div class="small-1 columns">&nbsp;</div>
        <div class="small-4 columns end">
          <div class="input-group">
            <input type="text" name="telephone"></input>
            <label>Telephone</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-4 columns">
          <div class="input-group">
            <select name="browser">
              <option value="chrome">Chrome</option>
              <option value="firefox">Firefox</option>
              <option value="safari">Safari</option>
              <option value="opera">Opera</option>
              <option value="ie">Internet Explorer</option>
            </select>
            <label>Witch browser do you prefer?</label>
          </div>
        </div>
        <div class="small-1 columns">&nbsp;</div>
        <div class="small-4 columns end">
          <fieldset>
            <legend>Witch framework do you like more?</legend>
            <input type="radio" name="framework" value="foundation" id="foundation" required><label for="foundation">Foundation</label>
            <input type="radio" name="framework" value="bootstrap" id="bootstrap"><label for="bootstrap">Bootstrap</label>
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="small-4 columns">
          <div class="input-group">
            <textarea name="about"></textarea>
            <label>Tell us a little bit about yourself <span>(textarea)</span></label>
          </div>
        </div>
        <div class="small-1 columns">&nbsp;</div>
        <div class="small-4 columns end">
          <fieldset>
            <legend>I think i'm an expert in developing</legend>
            <input id="checkbox1" type="checkbox"><label for="checkbox1">Front-end</label>
            <input id="checkbox2" type="checkbox"><label for="checkbox2">Back-end</label>
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <input class="button" type="submit" value="Submit"></input>
        </div>
      </div>
    </form>
  </div>
</section>
<!-- end of section inputs -->

<section for="callouts">
  <div class="row">
    <div class="small-9 columns">
      <div class="line-heading"></div>
      <h3>Taking the standard callout and using it as a dasboard tile.</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
      </p>
    </div>
    <div class="small-3 columns text-right">
      <button for="inputs" class="button example">Show code</button>
    </div>
  </div>

  <div class="row">
    <div class="small-3 columns">
      <div class="callout dashboard blue-bg">
        <div class="icon"><i class="fa fa-globe"></i>
        </div>
        <div class="number count">48</div>
        <div class="description">stores worldwide</div>
        <a href="index.html">
          <div class="linkbox">
            <div class="text">View details</div>
            <div class="arrow"><i class="fa fa-chevron-right"></i>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="small-3 columns">
      <div class="callout dashboard orange-bg">
        <div class="icon"><i class="fa fa-user"></i>
        </div>
        <div class="number count">1.776</div>
        <div class="description">employes worldwide</div>
        <a href="index.html">
          <div class="linkbox">
            <div class="text">View details</div>
            <div class="arrow"><i class="fa fa-chevron-right"></i>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="small-3 columns end">
      <div class="callout dashboard green-bg">
        <div class="icon"><i class="fa fa-shopping-cart"></i>
        </div>
        <div class="number count">36.480,50</div>
        <div class="description">customers last month</div>
        <a href="index.html">
          <div class="linkbox">
            <div class="text">View details</div>
            <div class="arrow"><i class="fa fa-chevron-right"></i>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>