@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div class="top-bar-right">
      @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "table-cell" }))
      {
      @Html.AntiForgeryToken()
      <ul class="dropdown menu" data-dropdown-menu>
        <li>@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
        <li><a class="button" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
      </ul>
      }
    </div>
}
else
{
    <div class="top-bar-right">
      <ul class="dropdown menu" data-dropdown-menu>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "button", id = "loginLink" })</li>
      </ul>
    </div>
}